In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('data.csv')
df.head()

  Company        Date Close/Last    Volume     Open       High      Low
0    AAPL  07/17/2023    $193.99  50520160  $191.90    $194.32  $191.81
1    AAPL  07/14/2023    $190.69  41616240  $190.23  $191.1799  $189.63
2    AAPL  07/13/2023    $190.54  41342340  $190.50    $191.19  $189.78
3    AAPL  07-12-2023    $189.77  60750250  $189.68    $191.70  $188.47
4    AAPL  07-11-2023    $188.08  46638120  $189.16    $189.30  $186.60

In [3]:
df.info() #divide date into months based on season #change

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25160 entries, 0 to 25159
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     25160 non-null  object
 1   Date        25160 non-null  object
 2   Close/Last  25160 non-null  object
 3   Volume      25160 non-null  int64
 4   Open        25160 non-null  object
 5   High        25160 non-null  object
 6   Low         25160 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [4]:
df['Company'].unique()

array(['AAPL', 'SBUX', 'MSFT', 'CSCO', 'QCOM', 'META', 'AMZN', 'TSLA',
       'AMD', 'NFLX'], dtype=object)

In [5]:
import datetime
dti = pd.to_datetime(df.Date)
dti

0       2023-07-17
1       2023-07-14
2       2023-07-13
3       2023-07-12
4       2023-07-11
           ...
25155   2013-07-24
25156   2013-07-23
25157   2013-07-22
25158   2013-07-19
25159   2013-07-18
Name: Date, Length: 25160, dtype: datetime64[ns]

In [6]:
df.Date=dti

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25160 entries, 0 to 25159
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     25160 non-null  object
 1   Date        25160 non-null  datetime64[ns]
 2   Close/Last  25160 non-null  object
 3   Volume      25160 non-null  int64
 4   Open        25160 non-null  object
 5   High        25160 non-null  object
 6   Low         25160 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.3+ MB

In [8]:
df["Close/Last"]=df["Close/Last"].map(lambda x: float(x.replace("$",""))) #turn objects into floats
df["Open"]=df["Open"].map(lambda x: float(x.replace("$","")))
df["High"]=df["High"].map(lambda x: float(x.replace("$","")))
df["Low"]=df["Low"].map(lambda x: float(x.replace("$","")))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25160 entries, 0 to 25159
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     25160 non-null  object
 1   Date        25160 non-null  datetime64[ns]
 2   Close/Last  25160 non-null  float64
 3   Volume      25160 non-null  int64
 4   Open        25160 non-null  float64
 5   High        25160 non-null  float64
 6   Low         25160 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 1.3+ MB

In [10]:
df.head()

  Company       Date  Close/Last    Volume    Open      High     Low
0    AAPL 2023-07-17      193.99  50520160  191.90  194.3200  191.81
1    AAPL 2023-07-14      190.69  41616240  190.23  191.1799  189.63
2    AAPL 2023-07-13      190.54  41342340  190.50  191.1900  189.78
3    AAPL 2023-07-12      189.77  60750250  189.68  191.7000  188.47
4    AAPL 2023-07-11      188.08  46638120  189.16  189.3000  186.60

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

# Assuming 'df' is your DataFrame containing the stock market data
# (with columns: 'Date', 'Close/Last', and other columns for different companies)

# Drop unnecessary columns (if any) and set 'Date' as the index
df = df.drop(['Open', 'High', 'Low', 'Volume'], axis=1)
df.set_index('Date', inplace=True)

# Normalize the data using MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(df)

# Convert the scaled data back to a DataFrame
df_scaled = pd.DataFrame(scaled_data, columns=df.columns)

# Define a function to create time series sequences
def create_sequences(data, time_steps):
    X, y = [], []
    for i in range(len(data) - time_steps):
        X.append(data[i : i + time_steps])
        y.append(data[i + time_steps])
    return np.array(X), np.array(y)

# Set the time step for creating sequences (adjust as needed)
time_steps = 30

# Create sequences and split the data into train and test sets
X, y = create_sequences(df_scaled.values, time_steps)
train_size = int(len(X) * 0.75)
X_train, y_train = X[:train_size], y[:train_size]
X_test, y_test = X[train_size:], y[train_size:]

# Reshape the input data to be 3D (samples, time steps, features)
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], X_train.shape[2])
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], X_test.shape[2])

# Create and compile the LSTM model
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(LSTM(50, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(df_scaled.shape[1]))  # Output layer with the same number of features
model.compile(loss='mean_squared_error', optimizer='adam')

# Train the LSTM model
model.fit(X_train, y_train, epochs=100, batch_size=64, verbose=1)

# Evaluate the model on the test set
loss = model.evaluate(X_test, y_test)
print("Test Loss:", loss)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Inverse transform the predictions and actual values to get the original scale
y_pred_inv = scaler.inverse_transform(y_pred)
y_test_inv = scaler.inverse_transform(y_test)

# Calculate any evaluation metrics you need (e.g., RMSE, MAE) on the original scale
# ...